__pycache__/*
__pycache__
*__pycache__*
ccindex/__pycache__
ccindex/__pycache__/*
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.env
.env.*
.DS_Store
.ipynb_checkpoints/
logs/
*.log
.idea/
.vscode/
.cache/
.pytest_cache/
*.sqlite
*.duckdb
